MONGODB_URI=
MONGODB_URL=
SERVER_MONGODB_URI=
ATLAS_MONGODB_URI=
DEFAULT_ADMIN_PASSWORD=
DEPLOY_SSH_USER=
DEPLOY_SSH_PASSWORD=

GoogleOAuth__ClientId=
GoogleOAuth__ClientSecret=
GoogleOAuth__RedirectUri=http://localhost:5000/api/auth/google/callback
GoogleOAuth__FrontendBaseUrl=http://localhost:4200
