<header class="hero" #hero (mousemove)="onHeroMove($event)" (mouseleave)="onHeroLeave()">
  <div class="hero-wrap">

    <!-- LEFT : Illustration Card -->
    <div class="hero-left parallax" #parallaxLeft>
  <div class="code-float">
    <!-- <span>&lt;code&gt;</span>
    <span class="typing"></span>
    <span>&lt;/code&gt;</span> -->
  </div>

  <img
    src="/assets/images/illustrations/jdev2.gif"
    alt="Developer illustration"
    class="hero-img"
  />
</div>

    <!-- RIGHT : Text Content -->
    <div class="hero-right" #parallaxRight>
      <h2 class="hello">
        Hey <span class="wave">👋</span> I’m
      </h2>

      <h1 class="hero-title reveal-name">
  Jayant Bhardwaj
</h1>
      <span class="title-underline reveal-name"></span>
     <p class="subtitle">
  <span class="role typewriter">Software Engineering Manager</span><br />
  <span class="reveal-sub"><b>PWC, India</b></span>
</p>

      <div class="socials">
        <a
          href="https://www.facebook.com/jayant.bhardwaj.75"
          target="_blank"
          rel="noopener"
          class="soc"
          aria-label="Facebook"
        >f</a>

        <a
          href="https://www.instagram.com/jayant.bhardwaj.75/"
          target="_blank"
          rel="noopener"
          class="soc"
          aria-label="Instagram"
        >ig</a>

        <a
          href="https://www.linkedin.com/in/jayant-bhardwaj-8bb510145"
          target="_blank"
          rel="noopener"
          class="soc"
          aria-label="LinkedIn"
        >in</a>
      </div>

     <a (click)="scrollToSection('contact', $event)" class="cta-btn" #cta (mousemove)="onCtaMove($event)" (mouseleave)="onCtaLeave()" style="cursor: pointer;">
  Get In Touch →
</a>
    </div>

  </div>
  <div class="cursor-accent" #accent></div>

</header>
    });

